
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 3px 2px #f1f1f1;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: white;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 2rem;
}

ul li {
    list-style-type: none;
}

.rocks {
    position: relative;
    background: url("assets/images/rocks.jpg") no-repeat center/cover;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rocks p {
    font-size: 32px;
    text-shadow: 2px 2px 2px black;
}

.rocks a {
    font-size: 32px;
}